@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");

a,
li {
    font-size: 0.9rem;
    font-weight: 400;
}

.logo {
    font-family: "Bebas Neue";
    font-size: 3rem;
}

.usuario-card {
    margin: 0.2rem;
    padding: 0rem 0.5rem;
    border-radius: 10px;
    font-family: "Bebas Neue";
    font-size: 1.6rem;
    text-align: center;
}

.bi-cart3,
.bi-search {
    font-size: 1.7em;
    color: black;
}

.cart-count {
    background-color: red; /* Color de fondo de la notificación */
    color: white;         /* Color del texto de la notificación */
    border-radius: 50%;   /* Hacer que la notificación sea redonda */
    padding: 0.5rem;      /* Añadir padding para hacer la notificación más grande */
    font-size: 0.75rem;   /* Tamaño de la fuente */
    line-height: 1;       /* Altura de línea */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;    /* Ancho mínimo para asegurar que el texto esté centrado */
    height: 1.5rem;       /* Altura de la notificación */
    transform: translate(-50%, -50%); /* Centrar la notificación */
  }

  @media (max-width: 768px)  {
    /* Estilos para tablets */

    .header__nav {
        display: none !important;
      }

    .header__sesion {
        justify-content: space-between !important;
    }
  
    .logo {
      font-size: 2.5rem; 
    }
  
    .usuario-card {
      font-size: 1.4rem;
      padding: 0.3rem 0.5rem; 
    }
  
    .bi-cart3,
    .bi-search {
      font-size: 1.5em; /* Ajustar tamaño de los íconos */
    }
  
    .cart-count {
      font-size: 0.7rem; /* Ajustar tamaño de la fuente en notificación */
      padding: 0.4rem; /* Ajustar padding */
    }
  }

  @media (max-width: 320px) {
    /* Estilos para móviles */

    .header__nav {
        display: none !important;      
        }

        .header__search {
          display: none !important;      
          }
  
    .logo {
      font-size: 2rem; /* Ajustar tamaño de la fuente para logo */
    }
  
    .usuario-card {
      font-size: 1.2rem; /* Ajustar tamaño de la fuente para tarjetas de usuario */
      padding: 0.2rem 0.4rem; /* Ajustar padding */
    }
  
    .bi-cart3,
    .bi-search {
      font-size: 1.3em; /* Ajustar tamaño de los íconos */
    }
  
    .cart-count {
      font-size: 0.65rem; /* Ajustar tamaño de la fuente en notificación */
      padding: 0.3rem; /* Ajustar padding */
    }
  }
  