.card{
    display: flex;
    height: 28rem;
    width: 20rem;
}

.container-image{
    height: 25%;
}

.img-center{
    height: 10rem;
}

@media (max-width: 320px) {
    .card{
        display: flex;
        height: 26rem;
        width: 18rem;
    }
}
